
/* Кнопка "Повторить" - базовые стили */
.restart-button-container {
    position: absolute ;
    left: 50% ;
    transform: translateX(-50%) ;
    width: 100% ;
    display: flex ;
    justify-content: center;
    z-index: 20;
}

/* Кнопка "Повторить" при выигрыше (опущена на 20px вниз) */
.restart-button-container.restart-bottom {
    bottom: -2px ;
}

/* Кнопка "Повторить" при проигрыше (поднята на 40px) */
.restart-button-container.restart-center {
    bottom: 150px;
}

/* Заголовок "Вы проиграли" (опущен на 50px) */
.result-text.lose {
    margin-top: 100px;
}


  .restart-button {
    background-color: #08b4db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .restart-button:hover {
    background-color: #0195b6;
    transform: scale(1.1);
  }